page-settings {

}
#center-button button{
	display: block;
	margin: auto;
}
#allergist{
	padding-left: 17px;
}
#allergist-email{
	padding-left: 17px;
}

/* No Activity Label */
#No-Activity{
	font-size: 12px;
}
